<!doctype html>
<html lang='en'>

        <p>
		<div align='center'>
		</div>
		<h1 style=font-size:88px class='text-center'><strong>Squirrel Tracker Homepage </strong></h1>
		<div align='center'>
			<br>
			<a href="/list/" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Squirrel Sightings</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/map/" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Sightings Map</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/stats/" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Sightings Statistics</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/add/" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Add New Sighting</strong></a>
			<a href="/update/<Unique_Squirrel_ID>/" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Update Sighting</strong></a>
		</div>
		</p>

		<div style=font-size:12px>
                </div>
	</body>
</html>
